* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

main {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    font-size: 18px;
}

#quizTimer {
    margin: 0 0 10px 0;
    padding: 5px;
    width: 185px;
    text-align: center;
    background-color: rgb(241, 89, 89);
}

#mainCard {
    height: 300px;
    width: 500px;
    background-color: #FCD6A8;
}

#introCard,
#quizCard {
    height: inherit;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#askQuestion {
    margin: 0;
}

#startBtn {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(241, 89, 89);
}

#startBtn:hover {
    background-color: rgb(241, 135, 135);
}

.choiceBtn {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    padding: 5px;
    font-size: 15px;
    background-color: #FDB55E;
    border: 2px solid #7D5A2E;
}

.choiceBtn:hover {
    background-color: #E6C88E;
}

#endCard {
    margin-top: 40px;
    font-size: larger;
    text-align: center;
}

#quizCongrats {
    font-weight: bolder;
}

label {
    float: left;
    margin-top: 15px;
    margin-left: 35px;
}

#userInitials {
    height: 40px;
    width: 70%;
    margin-top: 5px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
}

#submitBtn {
    margin-left: 10px;
    padding: 9.5px;
    border-radius: 10px;
    border: 0;
    background-color: #FDB55E;
}

#submitBtn:hover {
    background-color: #E6B149;
}

#warnMsg {
    text-align: left;
    margin-top: 15px;
    margin-left: 35px;
    color:red;
    font-weight: bold;
}

#ansResult {
    width: 500px;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid chocolate;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color:chocolate;
}

#highscoreCard {
    width: 500px;
    padding: 30px 50px 50px 50px;
    text-align: center;
    background-color: #FCD6A8;
}

#scoreContainer p {
    margin: 0;
    padding: 10px;
    font-size: larger;
}
#scoreContainer p:nth-child(odd) {
    background-color: #E6B28E;
}
#scoreContainer p:nth-child(even) {
    background-color: #FEB69D;
}

#backBtn, #clearBtn {
    margin-top: 15px;
    padding: 5px 8px;
    border: 0;
    border-radius: 10px;
    background-color: #FDB55E;
}

#backBtn:hover, #clearBtn:hover {
    background-color: #E6B149;
}