* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

main {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quizTimer {
    margin: 0 0 10px 0;
    padding: 5px;
    width: 185px;
    background-color: rgb(241, 89, 89);
}

#mainCard {
    height: 300px;
    width: 500px;
    background-color: rgb(252, 214, 168);
}

#introCard,
#quizCard {
    height: inherit;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#askQuestion {
    margin: 0;
}

#startBtn {
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(241, 89, 89);
}

#startBtn:hover {
    background-color: rgb(241, 135, 135);
}

.choiceBtn {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    padding: 5px;
    background-color: #FDB55E;
    border: 2px solid #7D5A2E;
}

.choiceBtn:hover {
    background-color: #E6C88E;
}

#ansResult {
    width: 500px;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid chocolate;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color:chocolate;
}